@import "./mixins";
@import "./vars";

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: $regular-font;
}

html {
  background-color: $bg-white;
}

button,
input {
  font-family: arial, sans-serif;
  font-size: 1.25rem;
}

html,
body,
#root {
  @include square(100%);
}

body {
  font-family: arial, sans-serif;
  font-size: $medium-font-size;

  #root {
    main {
      position: static !important;
      height: 100%;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-font;
  }

  a {
    color: $main-color;
    text-decoration-line: underline;
    text-decoration-color: $accent-color;
    text-decoration-style: dashed;
    text-decoration-thickness: 3px;
    -webkit-text-decoration-skip: none;

    &:hover {
      text-decoration-style: solid;
    }
  }
}
