$main-color: #222;
$accent-color: #e68c5f;
$error-color: #a30808;
$bg-white: #f9f9ff;

$small-padding: 10px;
$medium-padding: 20px;
$large-padding: 40px;

$border-radius: 10px;

$very-small-font-size: 11px;
$small-font-size: 14px;
$medium-font-size: 18px;
$large-font-size: 20px;
$very-large-font-size: 40px;

$header-height: 80px;

$shadow: 0.1rem 0.4rem 1.5rem rgba(0, 0, 0, 0.04);
$shadow-strong: 0.1rem 0.4rem 1rem rgba(0, 0, 0, 0.1);

$long-animation-time: 300ms;
$short-animation-time: 200ms;

$title-font: 'Nunito', sans-serif;
$regular-font: 'Ubuntu', sans-serif;
