@import "../../vars";
@import "../../mixins";

header {
  margin-top: $large-padding;

  h1 {
    text-align: center;
    font-size: $very-large-font-size;
  }

  h2 {
    text-align: center;
    font-size: $large-font-size;
    color: #555;
  }
}

.main-wrapper {
  flex: 1;
  @include center;

  section {
    @include card;
    width: 70%;
    min-width: 300px;
    max-width: 800px;
    margin: $large-padding auto;

    .config {
      text-align: center;

      label {
        margin-right: $small-padding;
      }
    }

    .chart {
      margin-top: $large-padding;
    }
  }
}
